[class^="spotlights-"]{
  display: grid;
  grid-row-gap: 25px;
  row-gap: 25px;
}
.spotlights-3 {
  grid-template-columns: repeat(3, 1fr);
}
.spotlights-4 {
  grid-template-columns: repeat(4, 1fr);
}
.spotlights-5 {
  grid-template-columns: repeat(5, 1fr);
}
.spotlight {
  display: grid;
  grid-template-rows: 1fr;
  font-weight: bold;
  text-align: center;
}
