#spotlights {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 25px;
  row-gap: 25px;
}
.spotlight {
  display: grid;
  grid-template-rows: 1fr;
  font-weight: bold;
  text-align: center;
}
